<!DOCTYPE html>
<html ng-app="myExpenseModule">
    <head>
     <base href="/">
     <meta charset="UTF-8">
    
       <meta smart-banner></meta smart-banner>
        

     <title>Simple expense manager project - CodePen</title>
        <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/datePicker.css" rel="stylesheet" type="text/css" />
    </head>
    

    <body ng-view=""> </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.1/angular.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.1/angular-route.min.js"></script>
    
    <script src="lib/datePicker.js"></script>
    <script src="js/angularseo.js"></script>
    <script src="js/app.js"></script>
    <script src="js/homeController.js"></script>
    <script src="js/aboutController.js"></script>
    <script src="js/careersController.js"></script>
    <script src="js/directive.js"></script>
    <script src="js/filter.js"></script>
    <script src="js/service.js"></script>

</html>
