<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script data-main="javascripts/main.js" src="javascripts/lib/require.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

</head>
<body>

<!--<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

Headline : <input type="text" id="headline" ><br>
Content: <input type="text"  id="content"><br>-->
<div id="mainContainer">
    <a href="#addNews">Add News</a><br>
    <a href="#editNews">Edit News</a><br>
    <a href="#deleteNews">Delete News</a><br>
    <a href="#help">Help</a><br>
</div>
<div id="addNewsContainer"></div>
<div id="deleteNewsContainer"></div>
<div id="editNewsContainer"></div>
<div id="helpNewsContainer"></div>



</body>
</html>
</html>