    <h2>Create News</h2>
    Headline:
    <br>
    <textarea type="text" name="Headline" class="addNewinput" id="addNewsHeadline" placeholder="Enter your news headline here"></textarea>
    <br>
    <br>
    Content:
    <br>
    <textarea  name="Content" class="addNewinput" id="addNewsContent" placeholder="Enter your news content here"></textarea>
    <br>
    <br>
    <form id        =  "uploadForm"
          enctype   =  "multipart/form-data"
          >
        <input type="file" name="userPhoto" />
        <input type="submit" value="Upload Image" name="submit" id="formSubmit">
    </form>
    <input type="submit" class="submitButton" id="newsAdd">
