<h2>List of News</h2>
<div class="list"><div class="editListHeadline">Headline</div><div class="editListContent">Content</div><div class="editListTime">Time</div><div class="editListDate">Date</div><div class="editListEdit">Delete</div></div>
<% _newsList.forEach(function(el) { %>
<div class="list"><div  class="editListHeadlineRow"><%= el.headline %></div><div class="editLisContenttRow"><%= el.content %></div><div class="editListTimeRow"><%= el.time %></div><div class="editListDateRow"><%= el.date %></div><div class="editListEditRow"><a class="removeNews"  data-id="<%=el._id%>" style="color:red">Delete</a></div></div>
<!--<div class="list"><span><a href="#" class="removeNews" data-id="<%=el._id%>"><%= el.headline %><%= el.content %></a></span><span class="dateSpan" style="margin-right:20px"><%=el.date%></span><span class="dateSpan"><%=el.time%></span></div>-->
<% }) %>


