h1	{
	
	text-align:center;
	
	}
.listingHeader{
	 width:49%;
	 height: 30px;
	 font-size: 22px;
	 color:black;
	 background-color: white;
	 float:left;
	 padding-top:10px;
	 text-align:center;
	 border:2px solid black;
}
.listingHeader a{
	  text-decoration: none;
	  color:black;
}